html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.flex-container {
	display: flex;
	border: solid 4px #000;
}

.flex-item {
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
    opacity: 0.8;
    flex: 0 0 auto;
}

.flex-item-01 {
	background-color: #A62E5C;
}

.flex-item-02 {
	background-color: #9BC850;
}

.flex-item-03 {
	background-color: #675BA7;
}

.flex-item-04 {
	background-color: #2A9FBC;
}

.flex-item strong {
	display: block;
	font-size: 130%;
}	